{% extends "./base.html" %}

{% block content %}
<div class="relative w-full h-[500px] flex justify-center items-start">
    <div class="relative md:w-[600px] h-64 border border-gray-400 p-4 flex justify-evenly items-center flex-col md:flex-row my-24">
        <h1 class="text-2xl text-center md:w-24">Login to <span class="font-bold">dyablog.</span> <span class="inline-block md:mt-4 md:text-6xl text-xl">👿<span></h1>
        <form method="post" class="w-64">
            {% csrf_token %}
            {% include './material_text_field.html' with field=form.username %}
            {% include './material_text_field.html' with field=form.password %}
            <button type="Submit" class="w-full py-2 font-bold border-0 bg-gradient-to-b rounded from-slate-800 to-slate-900 text-gray-200 mt-2">Login</button>
        </form>
    </div>
</div>
{% endblock %}
